.SpaceVentilation {
  width: 100%;
  flex: 0 1 content;
  background-color: #FFFFFF;
  padding: 10px;
  box-sizing: border-box;
  color: #3F3F3F;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.SpaceVentilation h2 {
  margin: 0 0 10px 0;
}

.Row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.Row span {
  font-weight: bold;
}

.Row button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  background-color: #F4F4F4;
}

.Row button:hover, .Row button:active {
  cursor: pointer;
  color: #2788B2;
  background-color: #E0E0E0;
  outline: none;
}

.ButtonGroup button:first-child {
  margin-right: 10px;
}

.ActiveButton {
  color: #2788B2;
  background-color: #E0E0E0;
}
