.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  margin: auto;
  flex-wrap: nowrap;
}

.Form input{
  height: 30px;
  margin-bottom: 8px;
}

.Form input:last-child {
  margin-bottom: 0px;
}
