.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.Item span {
  font-weight: bold;
}

.Item button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  background-color: #F4F4F4;
  margin-right: 10px;
}

.Item button:hover, .Row button:active {
  cursor: pointer;
  color: #2788B2;
  background-color: #E0E0E0;
  outline: none;
}
